
@media screen and (min-width: 620px) {
    .photo{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10px;
        row-gap: 40px;
        margin: 0 auto;
        padding: 2em;
    }
}



@media screen and (min-width: 1080px) {
    
    .photo{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 10px;
        row-gap: 40px;
        margin: 0 auto;
        padding: 4em 10em;
    }


    .nav{
        flex-direction: row;
        position: relative;
        top: 0;
        right: 0;
    }

    .button{
        display: none;
    }
    
    header{
        padding: 2em 10em;
    }

}